/* add home page styles here */
#head{
    width: 200px;
    height: 200px;
    background-image: url('../assets/bird-head.png');
}

#middle{
    height: 200px;
    width: 200px;
    background-image: url('../assets/blue-middle.png')
}

#bottom{
    height: 200px;
    width: 200px;
    background-image: url('../assets/leg-pants.png');
}
